<body>
<div class="container">
    <div class="holder">
        <div class="outbox">
            <div class="controls">
                <p>Status: <span id="status" style="font-size:13px"></span></p>
                <div id="consoleLog">PGN: <span id="pgn"></span></div>
                <button id="newGame">New game</button>
            </div>
        </div>
        <div class="playground">
            <div id="board"></div>
        </div>
        <div class="outboxright">
            <div class="controls">
                <div id="consoleLog">Fen: <span id="fen"></span></div>
                <input type="text" id="fenInput" placeholder="FEN">
                <button class="load" id="load1">Load FEN</button>
            </div>
        </div>
        <div class="hiddenBox">
            <div class="controls">
                <div id="consoleLog">PGN: <span id="pgn2"></span></div>
                <div>Status: <span id="status2"></span></div>
                <button id="newGame">New game</button>
            </div>
            <div class="controls">
                <div id="consoleLog">Fen: <span id="fen2"></span></div>
                <input type="text" id="fenInput2" placeholder="FEN">
                <button class="load" id="load2">Load FEN</button>
            </div>
        </div>
    </div>
</div>