<body>
<div class="container">
    <div class="holder">
        <div class="outbox">
            <div class="controls">
                <p>Status: <span id="status"></span></p>
                <div id="consoleLog">PGN: <span id="pgn"></span></div>
                <button id="newGame">New game</button>
            </div>
        </div>
        <div class="playground">
            <div id="board"></div>
        </div>
        <div class="outboxright">
            <div class="controls">
                <p>Status: <span id="status"></span></p>
                <div id="consoleLog">PGN: <span id="pgn"></span></div>
                <button id="newGame">New game</button>
            </div>
        </div>
    </div>
</div>