<body>
<div class="holder">gi
    <div class="playground">
        <div id="board" style="width: 680px"></div>
    </div>
    <p>Status: <span id="status"></span></p>
    <div class="controls">
        <button id="newGame">New game</button>
        <div id="consoleLog">PGN: <span id="pgn"></span></div>
    </div>
</div>