html{
    background: #aeabb3;
}
.holder{
    width: 1000px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.playground{
    width:  680px;
    height: 700px;
    margin-right: auto;
    margin-left: auto;
}
.controls{
    margin-left: auto;
    margin-right: auto;
    width: 680px;
    height: auto;
}
.tile{
    width: 85px;
    height: 85px;
    margin: 0px;
    padding: 0px;
    background: sandybrown;
    display: inline-block;
}
.hidden{
    visibility: hidden;
}
.white{
    background: lightgrey;
}
#newGame{
    display: inline-block;
    border-radius: 3px;
    border:hidden;
    margin: 20px;
    height: auto;
    max-height: 70px;
    width: 40%;
    vertical-align: top;
}
#newGame:hover{
    color: #e5e2e9;
}
#consoleLog{
    display: inline-block;
    width: 40%;
    margin: 20px;
    border-radius: 3px;
    border-color: #494949;
    height: auto;
    border: solid;
}