<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chess.ai</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" media="screen"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <div class="cont">
        <div class="topbar">
            <div id="particles-js">
            </div>
            <img src="img/other/logo3.png" class="logo" style="height:10vw">
        </div>
    </div>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
        particlesJS.load('particles-js','particles.json', function(){
            console.log('particles loaded');
        })
    </script>
</body>