<ul class="menu bar">
    <li><a href="/" class="link active">Home</a></li>
    <li><a href="/choice" class="link">Play</a></li>
    <li><a href="#regist" class="link" id="register">Register</a></li>
    <li><a href="#" class="link">About us</a></li>
</ul>
<div class="pictures">
    <div class="inside">
        <div class="mode wow zoomIn">
            <div class="text"><i>Local chess</i></div>
            <a href="/h2h">
            <img class="semitrans" src="img/other/chess.jpg">
            </a>
        </div>
        <div class="mode wow zoomIn" data-wow-delay="0.5s">
            <a href="/h2m">
            <div class="text"><i>Play Stockfish</i></div>
            <img class="semitrans" src="img/other/stockfish.png">
            </a>
        </div>
        <div class="mode wow zoomIn" data-wow-delay="1s">
            <a href="/strats">
            <div class="text"><i>Learn strats</i></div>
            <img class="semitrans" src="img/other/learn.png">
            </a>
        </div>
    </div>
</div>

<div id="regist">
    <a href="#" class="cancel">&times</a>
    <p>Create an account:</p>
    <form action="" method="POST">
        <input type="text" id="login" placeholder="Your login"><br>
        <input type="text" id="e-mail" placeholder="Your e-mail"><br>
        <input type="password" id="password" placeholder="Your password"><br>

        <button onclick="addUser()">submit</button>
    </form>
</div>
<div id="cover"></div>

<div class="workbox">
    <div class="textBox wow fadeIn" data-wow-duration="2.5s" data-wow-delay="0.3s">
        <span class="bracket">{</span>
        <div class="work">
            Our engineers work every day to make<br>
            Your experience one of a kind!
        </div>
        <span class="bracket">}</span>
    </div>
    <div class="screw">
        <img class="screw" src="img/other/mech.png">
    </div>
</div>
<div class="stats">
    <div class="wow fadeInLeft statstextbox">
        <div class="bignumber">97%</div>
        <p>Server uptime</p>
    </div>
    <div class="wow fadeInLeftBig statstextbox" data-wow-duration="0.75s">
        <div class="bignumber">70%</div>
        <p>Code success rate</p>
    </div>
    <div class="wow fadeInLeftBig statstextbox" data-wow-duration="1s">
        <div class="bignumber" style="margin-left:4vw">3</div>
        <p>Students and a deadline</p>
    </div>
    <div class="wow fadeInLeftBig statstextbox" data-wow-duration="1.5s">
        <div class="bignumber">MANY</div>
        <p style="margin-left:3vw;">Daily visitors</p>
    </div>
</div>
<div class="pictures information">
    <div class="infotext">
        <h class="wow fadeIn hh" data-wow-duration="1.25s"><b>Chess is good for young brains</b></h>
        <br>
        Chess is valued as a game and an enjoyable way to spend time in many parts of the world. There are competing claims for its roots in India, China and Persia. Chess is recognised by the International Olympic Committee as a sport. There is a campaign to have it included in the 2020 Olympic Games in Tokyo.
        <br>
        <br>
        Far from being a waste of time, chess can be of great benefit to children’s minds. Several academics have looked into this extensively. Chess has been persuasively linked with improving children’s concentration, problem-solving, critical, original and creative thinking – and even mathematical abilities. It is also said to help with memory storage and how young brains manage information – and should not only be perceived as a game for gifted children.
        <br>
        <br>
        Children are also equal in a chess match regardless of things that might divide them. Their age, gender, ethnic backgrounds and religious affiliations are of no significance. Chess can cross socio-economic and cultural boundaries and give otherwise disadvantaged children a chance to compete on equal terms.
        <br>
        <br>
        It is also understood to be particularly helpful for integrating migrant children. While they learn a new language or how to negotiate a new culture, chess can help them engage with other children and adults without needing good linguistic skills. As intensified migration has increased diversity in classrooms, chess (and other games) play an important role.
        <br>
    </div>
    <img src="img/other/people_chess.png" class="wow fadeInRight infoimg" data-wow-duration="1s">
</div>
<div class="pictures information fish">
    <div class="infotext">
        <h class="wow fadeIn hh" data-wow-duration="1.25s"><b>What is stockfish</b></h>
        <h1 class="wow fadeIn lh" data-wow-delay="0.25s" data-wow-duration="1.25s">About</h1>
        <br>
        The Stockfish project started with the open source Glaurung engine, authored by Tord Romstad.
        In November 2008, Marco Costalba forked the Glaurung 2.1 code and introduced Stockfish 1.0.
        Tord and Joona Kiiski joined the Stockfish project and the Glaurung project slowly faded away.
        Meanwhile, Stockfish quickly rose to become the strongest open source chess engine, with frequent updates every few months.
        Today, it remains one of the strongest engines in the world.
        <br>
        <h2 class="wow fadeIn lh" data-wow-delay="0.25s" data-wow-duration="1.25s">Authors</h2>
        <br>
        The Stockfish engine was developed by Tord Romstad, Marco Costalba, and Joona Kiiski.
        It is now being developed and maintained by the Stockfish community.
        <br>
    </div>
    <img src="img/other/chess.png" class="wow fadeInRight infoimg" data-wow-duration="1s">
</div>
<div class="footer">
    <img src="img/other/logo3.png" class="logoLower">
    <span class="license">© 2018 Chess.AI Technologies</span>
</div>

<script type="text/javascript" src="views/reg_script.js"></script>