<body>
<div class="container">
    <div class="choicebox">
        <a href="h2h">
            <button>Human V Human</button>
        </a>
        <a href="h2m">
            <button>Human V Machine</button>
        </a>
        <a href="strats">
            <button>Learn</button>
        </a>
    </div>
</div>