<body>
<div class="container">
    <div class="choicebox">
        <a href="h2h.html">
            <button>Human V Human</button>
        </a>
        <a href="/">
            <button>Human V Machine</button>
        </a>
        <a href="learn.html">
            <button>Learn</button>
        </a>
    </div>
</div>